    
    <%- include('header') %>
   
        <h2> Admin: </h2>
        
        <div>
            <ul>
                <li><a href="/admin/categorias"> Geranciar categorias </a></li>
                <li><a href="/admin/vagas"> Geranciar vagas </a></li>  
            </ul>
        </div>
 
    <%- include('footer') %>
